body {
    front-family: Aeial;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.container {
    background: #fff;
    padding: 20px;
    width: 350px;
    border-radius: 10px;

h1 {
    text-align: center;
}
#todo-form {
    display: flex;
    gap: 8px;
    margin-bottom: 15px;


}
#todo-input {
    flex:1;
    padding: 10px;

}
ul {
    list-style:none;
    padding: 0;
}
li {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background: #eee;
    margin-bottom: 8px;
    border-radius: 5px;


}
.delete-btn {
    background: red;
    color white;
    border: none;
    padding: 5px;
    cursor:pointer;

}

}